.md .navbar{background: #000}
.logo {width: 100px;padding-left: 10px;}
.overlayb{background: #00000080; position: fixed ; top: 0; left: 0; width: 100%; height: 100%}
div[data-name="home"]{background: url(../img/LOrealhaircolour.jpg)  top center !important;}
a.login {position: absolute;width: 200px;background: #fff;color: #000;top: 50%;left: 50%;display: block;text-align: center;padding: 10px 0;margin-left: -105px;margin-top: -20px;}
.logo2{width: 150px; display: block; margin:40px auto;}
a.item-link.list-button.login2 {width: 150px;background: #000;margin: 20px auto;color: #fff;}
.cerrar {color: #000 !important;}
.rounded{border-radius: 25px}
.linkwhite{color:#fff }
.pr20px{padding-right: 20px}
.menu{list-style: none; padding: 0; margin: 0;}
.menu li{width: 100%;}
.menu li a{color: #fff;padding: 10px;display: block;}
.panel-right{background: #000;}
img.foto_perfil {width: 100px;display: block;margin: 20px auto;border-radius: 50px;}
h1.nombre {text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}
.tac{text-align: center}
.checked {
    color: orange;
}
.rating{width: 95px; margin: 20px auto}
.padding{padding: 10px}

.columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-fill: auto;
        -moz-column-fill: auto;
        column-fill: auto;
      }
      .pin {
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        padding-bottom: 1em;
         -webkit-transition: width 2s; /* Safari */
          transition: width 2s;
      }
      .pin_content {
        background-color: #ccc;
        padding: 0.5em;
      }
      img.scale {
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 100%
    }

    img.scale:hover {
        -moz-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
        -o-transform: scale(1.1); 
        transform: scale(1.01); 
    }